{% extends "::base.html.twig" %}


{% block headline %}
Payment confirmation
{% endblock headline %}

{% block content %}

<p>When button will be clicked you will be redirected to paypal service.</p>
  
  <div class="container">
<form action="{{ path('payment', {'id': id}) }}" method="POST">
        
  <div style="display: none;">{{ form_widget(form) }}</div>
  
        <button type="submit" class="btn">Process payment</button>
    </form>
{% endblock %}