{% extends "::base.html.twig" %}
{% block body %}
<div class="container">
<form action="{{ path('payment', {'id': id}) }}" method="POST">
        {{ form_widget(form) }}
        <button type="submit">Process payment</button>
    </form>
{% endblock %}