<div class="carousel slide header-slider">
  <!-- Carousel items -->
  <div class="carousel-inner">
    
    {% for advertisment in advertisments %}
      <div class="item {% if loop.index == 1 %}active{% endif %}">
        <a href="{{ advertisment.link }}">
          {% thumbnail advertisment.picture, 'big' %}
        </a>
      </div>
    {% endfor %}
    
    
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>