<div class="sonata-media-gallery-media-list">
    {% for galleryHasMedia in gallery.GalleryHasMedias %}
        <div class="sonata-media-gallery-media-item">
            <a class="sonata-media-gallery-media-item-link thumbnail" href="{{ url('sonata_media_view', {'id': galleryHasMedia.media.id }) }}">
                {% thumbnail galleryHasMedia.media, 'reference' %}
            </a>
        </div>
    {% endfor %}
</div>

<style>
    .sonata-media-gallery-media-item {
      margin-bottom: 5px;
      }
</style>