<div class="span12">
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for galleryHasMedia in gallery.GalleryHasMedias %}
    <div class="item {% if loop.index == 1 %}active{% endif %}">
    {% thumbnail galleryHasMedia.media, 'big' %}    
    </div>
    {% endfor %}
    
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>