{% extends "::base.html.twig" %}

{% block page_header %}
{% endblock page_header %}

{% block content %}

<div class="span9">
  
  {% render 'WNCOrganizerBundle:Default:banner' %}
  
    <div class="row">
    <h3>Walk This Way</h3>


    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="http://walktheland.org/images/uploads/walking_the_walk.gif">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="http://walktheland.org/article/were_walking_the_walk/">We’re Walking the Walk</a></h4>

        <p>The worldwide Walks have now begun! Communities of every size have joined in celebration. View our online Photo Gallery and see the smiles on participants’ faces!<br>
          To view videos submitted by communities <a href="http://walktheland.org/videos" title="&lt;b&gt;">click here</a>. <a href="http://walktheland.org/article/were_walking_the_walk/">Read More »</a></p>

      </div>
    </div>

      <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="http://walktheland.org/images/uploads/greetings_tn.jpg">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="http://walktheland.org/article/israel_celebrate_60_greeting_card/">Add Your Name to the  Celebrate 60! Greeting Card</a></h4>

        <p>Mazel Tov to the State of Israel in this very special milestone year. Our hearts are with you! Together, we step into the future." 
          Make a donation and add your name to our Celebrate 60! card. Your name you will automatically be added to the Greeting Card 
          under the amount you've donated when you check the "Add my name" box.</p>
      </div>
    </div>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="http://walktheland.org/images/uploads/freeplane.jpg">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="ttp://walktheland.org/article/drawing_for_free_tickets_to_israel/">Free Israel Tickets Sweepstakes</a></h4>

        <p>Congratulations to the Sweepstakes Winners!<br>
  Metro NYC  --    Boaz Dalit       <br>
  Derry, NH    --    Richard Seifel  <br>
  Austin, TX   --     James King     <br>
  Mexico City --     Debby Serur      <br>
  Buenos Aires --  Tobias Carabajal Waldhuter <br>
  Worcester, Ma --  Barbara Salitsky   <br>
  Barcelona, Spain--  David Levy Sanchez  <br>
  Rochester, NY --   Harry Pearle    <br>
  Buenos Aires --   Celia Jalife   <br>
  Little Rock, AR --  Will Nelson  <br>
   <a href="http://walktheland.org/article/drawing_for_free_tickets_to_israel/">Read More »</a></p>
      </div>
    </div>


			 
  </div>
  
</div>
<div class="span3">
  
  {% render 'WNCOrganizerBundle:Default:advertisment' %}
  
</div>

{% endblock content %}


{% block foot_script %}
{{ parent() }}

<script>
(function($) {

  $('.carousel').carousel()

})(jQuery);

$('.carousel').carousel()
</script>


{% endblock %}