{% extends "::base.html.twig" %}

{% block container %}

<div class="container">
    {% render 'WNCOrganizerBundle:Default:advertisment' with {"type": "banner"} %}
</div>

{{ parent() }}

{% endblock %}

{% block content %}

<div class="span9">
  
  {% render 'WNCCMSBundle:Default:articles' %}
  
</div>
<div class="span3">
  
  {% render 'WNCOrganizerBundle:Default:advertisment' with {"type": "sidebar"} %}
  
</div>

{% endblock content %}

{% block page_header %}
{% endblock %}

{% block foot_script %}
{{ parent() }}

<script>
(function($) {

  $('.carousel').carousel()

})(jQuery);

$('.carousel').carousel()
</script>


{% endblock %}
