{% extends "::base.html.twig" %}

{% block page_header %}
{% endblock page_header %}

{% block content %}

<div class="span9">
  
  {% render 'WNCOrganizerBundle:Default:banner' %}
  
  {% render 'WNCCMSBundle:Default:articles' %}
  
</div>
<div class="span3">
  
  {% render 'WNCOrganizerBundle:Default:advertisment' %}
  
</div>

{% endblock content %}


{% block foot_script %}
{{ parent() }}

<script>
(function($) {

  $('.carousel').carousel()

})(jQuery);

$('.carousel').carousel()
</script>


{% endblock %}
