{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <a href="{{ admin.generateUrl('edit', {'id' : object.id}) }}">{% thumbnail object.picture, 'admin' with {'width': 75, 'height': 60} %}</a>
{% endblock %}